@font-face {
  font-family: "Newsreader-Light";
  src: url("../assets/Font/Newsreader-Light.woff") format(".woff"), url("../assets/Font/Newsreader-Light.woff2") format(".woff2");
  font-style: normal;
  font-weight: light;
}
@font-face {
  font-family: "Newsreader-LightItalic";
  src: url("../assets/Font/Newsreader-LightItalic.woff") format(".woff"), url("../assets/Font/Newsreader-LightItalic.woff2") format(".woff2");
  font-style: italic;
  font-weight: light;
}
@font-face {
  font-family: "Newsreader-Regular";
  src: url("../assets/Font/Newsreader-Regular.woff") format(".woff"), url("../assets/Font/Newsreader-Regular.woff2") format(".woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Outfit-Light";
  src: url("../assets/Font/Outfit-Light.woff");
  font-style: normal;
  font-weight: light;
}
a {
  color: inherit;
}

@font-face {
  font-family: "Outfit-Medium";
  src: url("../assets/Font/Outfit-Medium.woff");
  font-style: normal;
  font-weight: medium;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .filterable-app {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: #EFFAF7;
  }
  .filterable-app .missions {
    padding-bottom: 24px;
  }
  .filterable-app .missions .mission_header {
    font-size: 18px;
    font-family: "Outfit-Medium";
    line-height: 23px;
    font-weight: 500;
    font-style: normal;
    color: #0C1E1A;
  }
  .filterable-app .missions .mission_quote {
    margin: 0;
    font-size: 26px;
    font-family: "Newsreader-Light";
    line-height: 38px;
    font-weight: 300;
    color: #0C1E1A;
  }
  .filterable-app .missions .mission_quote .mission_quote_italics {
    font-size: 26px;
    font-family: "Newsreader-LightItalic";
    line-height: 38px;
    font-weight: 300;
    font-style: italic;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .filterable-app {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: #EFFAF7;
  }
  .filterable-app .missions .mission_header {
    font-size: 24px;
    font-family: "Outfit-Medium";
    line-height: 30px;
    font-weight: 500;
    font-style: normal;
    color: #0C1E1A;
    margin: 0px;
    padding: 24px 0;
  }
  .filterable-app .missions .mission_quote {
    font-size: 52px;
    font-family: "Newsreader-Light";
    line-height: 66px;
    font-weight: 300;
    color: #0C1E1A;
    margin: 0px;
    padding: 24px 0;
  }
  .filterable-app .missions .mission_quote .mission_quote_italics {
    font-size: 52px;
    font-family: "Newsreader-LightItalic";
    line-height: 66px;
    font-weight: 300;
    font-style: italic;
    color: #0C1E1A;
    margin: 0px;
    font-style: italic;
  }
}
@media screen and (min-width: 1280px) {
  .filterable-app {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EFFAF7;
    padding-top: 24px;
  }
  .filterable-app .body {
    display: flex;
    justify-content: center;
  }
  .filterable-app .body .body-Section {
    width: 1250px;
  }
  .missions {
    width: 725px;
  }
  .missions .mission_header {
    font-size: 24px;
    font-family: "Outfit-Medium";
    line-height: 30px;
    font-weight: 500;
    font-style: normal;
    color: #0C1E1A;
    margin: 0px;
    padding: 24px 0;
  }
  .missions .mission_quote {
    font-size: 52px;
    font-family: "Newsreader-Light";
    line-height: 66px;
    font-weight: 300;
    color: #0C1E1A;
    margin: 0px;
  }
  .missions .mission_quote .mission_quote-italics {
    font-size: 52px;
    font-family: "Newsreader-LightItalic";
    line-height: 66px;
    font-weight: 300;
    font-style: italic;
    color: #0C1E1A;
    font-style: italic;
  }
}/*# sourceMappingURL=App.css.map */