.main {
    .main_section {
        .main_section_top{
            .main_section_top_img{ 
                width: 100%;
                height: auto;
                opacity: 0.3;
            }
            .main_section_top_author {
                position: absolute;
                bottom: 8px;
                right: 16px;
                font-size: 18px;
              }
        }.main_section_bottom_author
        
    }
  }
  