.body {

    margin-bottom: 16px;
  
    .filter-button {
      background-color: gray;
      color: white;
      border: none;
      padding: 8px 12px;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.3s ease;
  
      &.active {
        background-color: blue;
      }
    }
  }
  
  .filter-section-wrapper {
    transition: opacity 0.3s ease, visibility 0.3s ease, height 0.3s ease;
    &.hidden {
      opacity: 0;
      visibility: hidden;
      height: 0;
      overflow: hidden;
    }
    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }
  